POSTGRES_DB=geradores
POSTGRES_USER=geradores
POSTGRES_PASSWORD=troque-este-valor-local

API_PORT=4000
WEB_PORT=3001

MINIO_ROOT_USER=geradores
MINIO_ROOT_PASSWORD=troque-este-valor-local
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

DEEPSEEK_API_KEY=cole_sua_chave_aqui
DEEPSEEK_BASE_URL=https://api.apipromax.com.br
